"*":
  "atom-alignment": {}
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    enableAutoActivation: false
    useCoreMovementCommands: false
  core:
    audioBeep: false
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "editorconfig"
      "github"
      "file-icons"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
  editor:
    invisibles: {}
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "30bc5c0e-6f6c-81bb-ff01-fc1ecf0b3e16"
  "file-icons":
    onChanges: true
  "go-plus":
    disabledBundledPackages: [
      "hyperclick"
      "go-debug"
      "linter"
    ]
    guru:
      highlightIdentifiers: false
    panel:
      displayMode: "closed"
    test:
      runTestsOnSave: false
      runTestsWithCoverage: false
      runTestsWithShortFlag: false
  "one-dark-ui": {}
  "one-light-ui": {}
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.tex.latex"
    ]
    locales: [
      "en-US"
      "de-DE"
    ]
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".c.source":
  editor:
    tabLength: 8
    tabType: "hard"
".cpp.source":
  editor:
    tabLength: 8
    tabType: "hard"
".go.source":
  editor:
    tabLength: 8
    tabType: "hard"
".python.source":
  editor:
    tabLength: 4
    tabType: "soft"
