"*":
  "asciidoc-preview": {}
  "atom-beautify":
    c:
      default_beautifier: "clang-format"
    general:
      _analyticsUserId: "5d296fb3-3fd4-4045-8cc4-b28534d01ab0"
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    useCoreMovementCommands: false
  "autocomplete-python":
    triggerCompletionRegex: "([.(]|[a-zA-Z_][a-zA-Z0-9_]{2,})"
    useKite: false
  "clang-format":
    formatCOnSave: false
    formatCPlusPlusOnSave: false
  core:
    audioBeep: false
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "grepper"
      "editorconfig"
      "linter"
    ]
    packagesWithKeymapsDisabled: [
      "autocomplete-python"
    ]
    telemetryConsent: "limited"
  editor:
    invisibles: {}
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "30bc5c0e-6f6c-81bb-ff01-fc1ecf0b3e16"
  "file-icons":
    onChanges: true
  fonts:
    fontFamily: "Inconsolata-g"
  "fuzzy-finder": {}
  "git-diff": {}
  "git-plus":
    diffs:
      wordDiff: false
  "go-plus":
    disabledBundledPackages: [
      "go-debug"
      "linter"
      "hyperclick"
    ]
    format:
      formatOnSave: false
    formatTool: "gofmt"
    goPath: "~/Go"
    guru:
      highlightIdentifiers: false
    panelDisplayMode: "closed"
    panelOrientation: "vertical"
    test:
      runTestsOnSave: false
  gofmt:
    formatOnSave: false
  "one-dark-ui": {}
  "one-light-ui": {}
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.tex.latex"
    ]
    locales: [
      "en-US"
      "de-DE"
    ]
  "vim-mode-plus":
    statusBarModeStringStyle: "long"
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".c.source":
  editor:
    tabLength: 8
    tabType: "hard"
".cpp.source":
  editor:
    tabLength: 8
    tabType: "hard"
".go.source":
  editor:
    tabLength: 8
    tabType: "hard"
".python.source":
  editor:
    tabLength: 4
    tabType: "soft"
