'.platform-linux atom-text-editor':
  'ctrl-shift-G': 'grammar-selector:show'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-shift-L': 'editor:split-selections-into-lines'

'body atom-text-editor.autocomplete-active':
  'ctrl-p': 'autocomplete-plus:move-up'
  'ctrl-n': 'autocomplete-plus:move-down'
  'pageup': 'autocomplete-plus:page-up'
  'pagedown': 'autocomplete-plus:page-down'
  'home': 'autocomplete-plus:move-to-top'
  'end': 'autocomplete-plus:move-to-bottom'

'.platform-linux':
  # ctrl-b is occupied by vim-plus... :(
  'alt-b': 'fuzzy-finder:toggle-buffer-finder'

'body':
  'ctrl-q': 'unset!'

# TODO: https://github.com/t9md/atom-vim-mode-plus/issues/661#issuecomment-347004839
'atom-text-editor.vim-mode-plus.operator-pending-mode, atom-text-editor.vim-mode-plus.visual-mode':
  'i altgraph "': 'vim-mode-plus:inner-double-quote'
  'a altgraph "': 'vim-mode-plus:a-double-quote'
  "i altgraph '": 'vim-mode-plus:inner-single-quote'
  "a altgraph '": 'vim-mode-plus:a-single-quote'
  'i altgraph `': 'vim-mode-plus:inner-back-tick'
  'a altgraph `': 'vim-mode-plus:a-back-tick'
  'i altgraph {': 'vim-mode-plus:inner-curly-bracket'
  'i altgraph }': 'vim-mode-plus:inner-curly-bracket'
  'a altgraph {': 'vim-mode-plus:a-curly-bracket'
  'a altgraph }': 'vim-mode-plus:a-curly-bracket'
  'i altgraph <': 'vim-mode-plus:inner-angle-bracket'
  'i altgraph >': 'vim-mode-plus:inner-angle-bracket'
  'a altgraph <': 'vim-mode-plus:a-angle-bracket'
  'a altgraph >': 'vim-mode-plus:a-angle-bracket'
  'i altgraph [': 'vim-mode-plus:inner-square-bracket'
  'i altgraph ]': 'vim-mode-plus:inner-square-bracket'
  'a altgraph [': 'vim-mode-plus:a-square-bracket'
  'a altgraph ]': 'vim-mode-plus:a-square-bracket'
  'i altgraph (': 'vim-mode-plus:inner-parenthesis'
  'i altgraph )': 'vim-mode-plus:inner-parenthesis'
  'a altgraph (': 'vim-mode-plus:a-parenthesis'
  'a altgraph )': 'vim-mode-plus:a-parenthesis'
